django==2.1.11
djangorestframework==3.9.1
graphene-django==2.0
django-jet==1.0.8
pytest==3.2.2
django-formtools==2.1
django-cors-headers
djangorestframework_simplejwt
coverage==4.5.4

psycopg2-binary==2.8.3
gunicorn==19.9.0
