{% extends 'admin/base_site.html' %}
{% load i18n static %}

{%block content%}
<link rel="stylesheet" type="text/css" href='{% static "alumnos/css/dropfile.css" %}' />
<div class="importador">
  <div class="titulo-importador">
    <h1>{{titulo}}</h1>
  </div>
  <form method="POST" action="{{action}}" id="id_archivo-form" class="uploader" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" class="input-file" name="archivo" required="" id="id_archivo">
    <label for="id_archivo" id="file-drag">
      <img id="file-image" src="#" alt="Previsualización" class="hidden">
      <div id="start">
        <i class="fa fa-download" aria-hidden="true"></i>
        <div>Seleccione un archivo CSV</div>
        <div id="notcsv" class="hidden">Por favor, seleccione un archivo CSV</div>
        <input type="text" class="file-selected" hidden="true" disabled="true">
        <span id="id_archivo-btn" class="btn btn-primary input-file-trigger">Seleccionar uno</span>
      </div>

      <div id="spinner" hidden="true">
        <h1> Se están cargando los datos</h1>
        <div class="loader"></div>
      </div>      

      <button id="cargarButton" hidden="true" type="submit">Cargar</button>

    </label>
    
    <h1 id="userFeedback">{{ form.userFeedback }}</h1>
  </form>  

</div>

{% block dropjs %}
<script src='{% static "alumnos/js/upload.js" %}'></script>
{% endblock %}
{% endblock %}